body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  100px;
    background-color: #080c22;
    
}
.wrapper {
    display: flex;
    align-items: center;
    padding-top:70px;
    height: 400px;
    width: 400px;
    flex-direction: column; 
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(180deg, rgb(28, 11, 128) 0%, #3278b9 200%)
}


.search-container{
    display: flex;
    position: absolute;
    top: 60%;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    transition: transform 1s ease-in-out ;
  }

  .search-box{
    outline: none;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 100;
    padding-left: 10px
  }
  .search-icon{
    height: 24px;
    width: 25px;
    cursor: pointer;
    margin-top: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 10px;
  }
  .weather-data{
    display: none;
    color: white;
  }
  .weather-icon {
    position: relative;
    left: 12%;
    margin-top: 30px;
    height: 140px;
    width: 140px;
  }

  .time{
    opacity: 100;
    display: flex;
    position: absolute;
    font-size: 45px;
    transform: translateY(-150%);
    color: white;
    transition: transform 500ms ease-in, opacity 200ms ease-in;
    
     
  }
  .date{
    opacity: 100;
    position: absolute;
    transform: translateY(200%);
    color: white;
    transition: transform 500ms ease-in, opacity 200ms ease-in;
  }
  .wrapperClicked{
    display: flex;
    align-items: center;
    padding-top:70px;
    height: 400px;
    width: 400px;
    flex-direction: column; 
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(180deg, rgb(28, 11, 128) 0%, #3278b9 200%)
  }
  .search-containerClicked {
    display: flex;
    opacity: 65%;
    position: absolute;
    top: 60%;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    transform: translateY(-750%);
    transition: transform 1s ease-in-out ;
  }

  .timeClicked {
    display: flex;
    position: absolute;
    font-size: 45px;
    opacity: 0;
    color: white;
    transform: translateY(-250%);
    transition: transform 500ms ease-in, opacity 500ms ease-in;
  }
  .dateClicked {
    opacity: 0;
    color: white;
    transform: translateY(-250%);
    transition: transform 500ms ease-in, opacity 500ms ease-in;
  }

  .back-button{
    position: relative;
    padding-right: 5px;
    width: 30px;
    cursor: pointer;
  }
  .condition-data {
    position: relative;
    color:#ffff;
    opacity: 75%;
    bottom: 65%;
    left: 22%;
    width: 70px
  }
  .weather-wrapper {
    position: relative;
    width: 400px;
    height: 200px;
  }
    
 
  .location-icon {
    opacity: 75%
  }
  .location-name {
    position: relative;
    font-size: 30px;
   width: 60px;
    opacity: 75%;
    bottom: 50%;

  }
  .location-data {
    display: flex; 
    flex-direction: row;
    color: #ffff;
    position: relative;
    left: 50%;
    bottom: 75%;
    width: 150px;
    
  }
  .temperature-data {
    position: absolute;
    font-size: 65px;
    left: 30%;
  }
  .feels-like {
    position: absolute;
    width:100px;
    top: 125%;
    left: 20%;
    opacity: 85%;

  }
