  body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-image: url(/images/dark-mountain.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}
.wrapper {
    display: flex;
    align-items: center;
    padding-top:70px;
    height: 440px;
    width: 400px;
    flex-direction: column; 
    border: none;
    border-radius: 30px;
   background-image: url(/images/gradient.jpg);
    background-size: cover;
    
}

.wrapperClicked{
  
  display: flex;
  align-items: center;
  padding-top:70px;
  height: 440px;
  width: 400px;
  flex-direction: column; 
  border: none;
  border-radius: 30px;
  background-image: url(/images/gradient.jpg);
  background-size: cover;
}



  .weather-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute; 
    color: white;
    height: 100px;
    width: 100px;
    top: 80%;
    animation-name: fade-opacity;
    animation-duration: 1s;
  }
  .weather-icon {
    position: relative;
    left: 12%;
    height: 120px;
    width: 120px;
    animation-name: fade-opacity;
    animation-duration: 1s;
  }

  .time{
    opacity: 100;
    display: flex;
    position: absolute;
    font-size: 45px;
    transform: translateY(-150%);
    color: white;
    transition: transform 500ms ease-in, opacity 200ms ease-in;
    
  }
  .date{
    opacity: 100;
    position: absolute;
    transform: translateY(250%);
    color: white;
    transition: transform 650ms ease-in, opacity 200ms ease-in;
  }

  .dateClicked {
    opacity: 0;
    position: absolute;
    color: white;
    transform: translateY(-250%);
    transition: transform 450ms ease-in, opacity 500ms ease-in;
  }

  
  .search-container{
    position: relative;
    opacity: 70%;
    top: 35%;
    justify-content: center;
    max-width: 250px;
    padding-left: 60px;
    width: 100%;
    transition: transform 1s ease-in-out ;

  }
  .search-containerClicked {
    position: relative;
    opacity: 65%;
    top: 35%;
    max-width: 250px;
    width: 100%;
    padding-left: 60px;
    transform: translateY(-450%);
    transition: transform  1s ease-in-out ;
   
  }


  .search-box{
    outline: none;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 100;
    padding-left: 10px
  }
  .search-icon{
    position: relative;
    top: 20%;
    height: 24px;
    width: 25px;
    cursor: pointer;
    margin-top: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 10px;
  }
  
  .timeClicked {
    display: flex;
    position: absolute;
    font-size: 45px;
    opacity: 0;
    color: white;
    transform: translateY(-250%);
    transition: transform 500ms ease-in, opacity 500ms ease-in;
  }
 

  .back-button{
    position: absolute;
    padding-right: 10px;
    top: 22%;
    right: 82%;
    width: 25px;
    cursor: pointer;
    animation-name: fade-opacity;
    animation-duration: 1s;
  }

 

  .condition-data {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    color:#ffff;
    opacity: 90%;
    bottom: 20%;
    left: 15%;
    width: 100px;
    
  }
  .weather-wrapper {
    position: relative;
    width: 400px;
    height: 180px;
    padding: 0;
    margin:0;
    bottom: 2%;
  }
    
  .location-wrapper {
    position: relative; 
    height: 50px;
    width: 600px;
    

  }

  .location-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    opacity: 90%;
    top: 25%;
    left: 5%;
  }
  .location-name {
    position: relative;
    font-size: 30px;
   width: 90px;
    opacity: 95%;
    bottom: 45%;
    left: 20%;
  }
  .location-data {
    display: flex; 
    flex-direction: row;
    color: #ffff;
    position: relative;
    left: 50%;
    bottom: 65%;
    width: 150px;
    height: 150px;
    
  }
  .temperature-data {
    position: absolute;
    font-size: 65px;
    left: 20%;
    top: -20%;
    animation-name: fade-opacity;
    animation-duration: 1s;
  }
  .feels-like {
    position: absolute;
    width:120px;
    top: 60%;
    left: 20%;
    opacity: 85%;

  }
  @keyframes fade-opacity {
    from {opacity: 0;}
    to{opacity: 100}
  }

  .weather-info {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,45%);
    gap: 10px;
    bottom: 7%;
    right: 13%;
  }

  .weather-info-text {
    position: relative;
    bottom: 10%;
    color: #ffff;
    font-size: 10px;
    opacity: 55%;
  }

  .grid-item {
  padding: 10px;
    text-align: center;
    height: 96px;
    border-radius: 15px;
    box-shadow:  6px 3px 5px rgba(2, 2, 2, 0.3) ;
    animation: tile-fade ;
    animation-duration: 1s;
  }

  @keyframes tile-fade {
    from {opacity: 0;}
    to {opacity: 85%;}
  }

  .grid-image {
    height: 45px;
    opacity: 92%;
  }

  .weather-info-title {
    position: relative;
    bottom: 5%;
    font-size: 12px;
    color: #ffff;
    opacity: 95%;
  }


  .weather-info-location-longitude {
    display: flex;
    align-items: center;
    color: #ffff;
    opacity: 65%;
    font-size: 12px;
    position: relative;
    bottom: 30%;
    left: 15%;
  }
  .weather-info-location-latitude {
    display: flex;
    align-items: center;
    color: #ffff;
    opacity: 55%;
    font-size: 12px;
    position: relative;
    bottom: 55%;
    left: 15%;
  }
  
  .error-text {
    position: relative;
    color: rgb(255, 34, 0);
    font-style: italic;
    top: 40%;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    animation-name: fade-opacity;
    animation-duration: 1s;
  }